.blue {
	color: #4897F1;
}

.bg-item-0 {
	/*border: 1px solid #2C81BA;*/
	background-color: #16A084;
}

.bg-item-1 {
	/*border: 1px solid #0d233a;*/
	/*background-color: #CCCADE;*/
	background-color: #2C81BA;
}

.bg-item-2 {
	/*background-color: #8bbc21;*/
	background-color: #CDA60C;
}

.bg-item-3 {
	/*background-color: #910000;*/
	background-color: #C44033;
}

.bg-item-4 {
	/*background-color: #1aadce;*/
	background-color: #C8CCCD;
}

.bg-item-5 {
	/*background-color: #492970;*/
	background-color: #26AA5E;
}

.bg-item-6 {
	/*background-color: #f28f43;*/
	background-color: #834B9A;
}

.bg-item-7 {
	background-color: #C36B1C;
}

.bg-item-8 {
	background-color: #2C3E50;
}

.bg-item-9 {
	background-color: #7E8C8D;
}